<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Home | MovieQueue</title><link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/custom.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css">
    </head>
    <header>
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
            <div class="navbar-header" style="padding-top: 10px">
                <a href="index.ejs"> <img src="logo.png" style="width:180px;height:60px;border:0"> </a>
            </div>
            <div class="col-sm-3 col-md-7">
                <form class="navbar" role="search" style="padding-top: 15px">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container">
                <ul class="nav navbar-nav navbar-right" style="padding-top: 7px">
                    <li><a href="/#">Home</a></li>
                    <li><a href="/#">About</a></li>
                    <li><a href="/#">Log out</a></li>
                </ul>
            </div>
            </div>
        </nav>
    </header>
    <body>
        <table id="movie-showcase" class="table table-striped table-boredered"
               cellspacing="0" width="100%">
            <tbody id="tbody"></tbody>
        </table>
        <script>
            var obj = [{
                "key": "apple",
                "value": 1.90
            }, {
                "key": "berry",
                "value": 1.7
            }, {
                "key": "banana",
                "value": 1.5
            }, {
                "key": "cherry",
                "value": 1.2
            }];
            var globalCounter = 0;
            var tbody = document.getElementById('tbody');
            for (var i = 0; i < Object.keys(obj).length; i++) {
                var th = "<th>";
                var tr = "<tr>";
                
                if (obj[i].value.toString().substring(obj[i].value.toString().indexOf('.'), obj[i].value.toString().length) < 2) obj[i].value += "0";
                tr += "<td>" + obj[i].key + "</td>" + "<td>$" + obj[i].value.toString() + "</td></tr>";
                tbody.innerHTML += tr;
            }
        </script>
        <script>
            $(document).ready(function() {
                $('#movie-showcase').DataTable();
            } );
        </script>
    </body>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./js/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./js/ie10-viewport-bug-workaround.js"></script>
</html>