<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>MovieQueue</title>
<link rel="stylesheet" href="custom.css">
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body
	style="background-image: url('home-background.jpg'); background-repeat: no-repeat; background-position: 50% 0%">

	<div>
		<img class="center-logo" src="logo.png">
		<h1 class="index-blurb">Keep track of all those movies you've
			been meaning to watch</h1>
	</div>

	<div style="text-align: center">

		<a href="/auth/facebook" class="btn btn-primary"><span
			class="fa fa-facebook"></span> Sign In via Facebook</a>
	</div>

	</div>
</body>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>

