<!DOCTYPE html>
<html>
<head>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet">
<meta charset="ISO-8859-1">
<title>Movie Queue</title>
</head>
<body>
	<div class="container">
		<h1>Movie List</h1>
		<div class="jumbotron">
			<div class="col-md-3">
				<h3 style="font-size: 18px">The Shawshank Redemption</h3>
				<h3 style="font-size: 18px">Year: 1994</h3>
				<h3 style="font-size: 18px">Rating: 8.83/10</h3>
			</div>
			<div class="col-md-6">
				<h3 style="text-align: left; font-size: 18px">Summary: Andy
					Dufresne is sentenced to two consecutive life terms in prison for
					the murders of his wife and her lover and is sentenced to a tough
					prison. However, only Andy knows he didn't commit the crimes. While
					there, he forms a friendship with Red (Morgan Freeman), experiences
					brutality of prison life, adapts, helps the warden, etc., all in 19
					years.</h3>
			</div>
			<div class="container">
				<button type="button" class="btn btn-danger" style="float: right;">Remove
					Movie</button>
			</div>
		</div>
		<div class="jumbotron">
			<div class="col-md-3">
				<h3 style="font-size: 18px">The Shawshank Redemption</h3>
				<h3 style="font-size: 18px">Year: 1994</h3>
				<h3 style="font-size: 18px">Rating: 8.83/10</h3>
			</div>
			<div class="col-md-6">
				<h3 style="text-align: left; font-size: 18px">Summary: Andy
					Dufresne is sentenced to two consecutive life terms in prison for
					the murders of his wife and her lover and is sentenced to a tough
					prison. However, only Andy knows he didn't commit the crimes. While
					there, he forms a friendship with Red (Morgan Freeman), experiences
					brutality of prison life, adapts, helps the warden, etc., all in 19
					years.</h3>
			</div>
			<div class="container">
				<button type="button" class="btn btn-danger" style="float: right;">Remove
					Movie</button>
			</div>
		</div>
		<div class="jumbotron">
			<div class="col-md-3">
				<h3 style="font-size: 18px">The Shawshank Redemption</h3>
				<h3 style="font-size: 18px">Year: 1994</h3>
				<h3 style="font-size: 18px">Rating: 8.83/10</h3>
			</div>
			<div class="col-md-6">
				<h3 style="text-align: left; font-size: 18px">Summary: Andy
					Dufresne is sentenced to two consecutive life terms in prison for
					the murders of his wife and her lover and is sentenced to a tough
					prison. However, only Andy knows he didn't commit the crimes. While
					there, he forms a friendship with Red (Morgan Freeman), experiences
					brutality of prison life, adapts, helps the warden, etc., all in 19
					years.</h3>
			</div>
			<div class="container">
				<button type="button" class="btn btn-danger" style="float: right;">Remove
					Movie</button>
			</div>
		</div>
	</div>
</body>
</html>